body {
    background-color: #ffffff;
}

h2 {
  color: #9aaa4a;
  font-weight: bold;
  margin: 0;
}
.extended {
  background-color: #3c7c32;
}

.brand-logo {
  margin-left: 1rem;
}

.brand-logo > span {
  color: #9aaa4a;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 4px;
}

.collapsible-body strong {
    margin: 5px;
    line-height: 36px;
}