@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/*-- 
#26a69a button
#a62632 complementary
--*/

body {
  background-color: #ffffff;
  font-family: 'Orelega One', cursive;
}

.container {
  width: 100%;
  max-width: none;
}

h1 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h2 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h4 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h5 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h6 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

p {
  padding: 0;
}

.cover-card {
  height: auto;
  vertical-align: bottom;
  letter-spacing: 1px;
}

.cover-card h5 {
  font-size: 3rem;
}

.card-title p {
  color: #ffffff;
  font-size: 1.8rem;
}

.card-title > span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info {
  text-align: center;
  font-size: 2rem;
}

.btn-small, .btn-large {
  margin: 0.2rem;
  border: 0.2rem solid #ffffff;
  border-radius: 12px;
}

.btn-small:hover, .btn-large:hover {
  background-color: #fea201;
}

.btn-small:after, .btn-large:after {
  background-color: #fea201;
}

.extended {
  background-color: #ffffff;
  font-family: 'Merienda One', cursive;
}

.extended .recip {
  margin-left: 0.5rem;
}

.brand-logo > span {
  color: red;
}

.sidenav-trigger {
  color: red;
}

.recip {
  color: red;
}

.flashes {
  background-color: rgb(169,169,169, 0.75);
}

.flashes h4 {
  line-height: 2;
  color: #ffffff;
}

.btn-small {
  margin: 4px;
}

.collapsible-header {
  margin: 6px;
  line-height: 1;
}

.collapsible-header h4 {
  font-size: 2rem;
}

.collapsible-body {
  background-color: #ffffff;
}

h1 > span {
  color: red;
}

.card-recipe {
  min-height: 45rem;
}

.card .card-action {
  font-size: large;
}

.card-panel {
  padding: 0.5rem;
  border: 0.2rem solid #A9A9A9;
}

.shs-image {
  padding: 6rem;
}

/* pagination */

.pagination {
  text-align: center;
}

.pagination li.active {
  background-color: red;
}

.page-footer {
  background-color: #ffffff;
}

.footer-tagline {
  font-size: large;
}

.footer-tagline > span {
  color: red;
}

.footer-logo {
  font-size: larger;
}

.footer-links a {
  color: red;
}

.footer-copyright p {
  margin: 0.4rem;
}

.forms {
  background-color: #ffffff;
  padding: 1rem;
}

.card-image img.activator {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 28rem;
}

.no-result {
  line-height: 3;
}

/* media queries */

@media only screen and (min-width: 992px) {
  h1 {
    padding: 0;
  }  
}

@media only screen and (min-width: 768px) {
  h1 {
    padding: 0;
  } 
}

@media only screen and (max-width: 600px) {
  h1 {
    padding: 0;
  } 
}