@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*-- 
#26a69a button
#a62632 complementary
--*/

body {
  background-color: #D3D3D3;
  font-family: 'Oswald', sans-serif;
}

.container {
  width: 100%;
  max-width: none;
}

h1 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h2 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h4 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h5 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

h6 {
  font-family: 'Merienda One', cursive;
  color: #a62632;
}

p {
  padding: 0;
  font-size: 1.2rem;
}

.brand-logo {
  margin-left: 0.5rem;
}

.heading-info {
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  background-color: #ffffff;
}

.cover-card {
  height: auto;
  vertical-align: bottom;
  letter-spacing: 1px;
}

.cover-card li {
  font-size: 1.6rem;
}

.card-title > span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.intro {
  font-size: 2rem;
}

.info {
  font-size: 1.8rem;
  text-align: center;
}

.btn-small, .btn-large {
  margin: 0.2rem;
  border-radius: 12px;
}

.extended {
  background-color: #ffffff;
  font-family: 'Merienda One', cursive;
}

.extended a {
  color:#a62632;
  font-size: 1.6rem;
}

.sidenav-trigger {
  color: #a62632;
}

.flashes {
  background-color: rgb(169,169,169, 0.75);
}

.flashes h4 {
  line-height: 2;
  color: #ffffff;
}

.collapsible-header {
  margin: 6px;
  line-height: 1;
}

.collapsible-body {
  background-color: #ffffff;
}

h1 > span {
  color: #a62632;
}

.card-recipe {
  min-height: 45rem;
}

/* pagination */

.pagination {
  text-align: center;
}

.pagination li.active {
  background-color: #000000;
}

.base-footer {
  background-color: #ffffff;
  text-align: center;
}

.base-footer a {
  color:#a62632;
  font-size: 1.6rem;
}

.base-footer p {
  font-size: 1.2rem;
}

.dev-links i {
  font-size: 2rem;
  margin: 0.5rem;
}

.forms {
  background-color: #ffffff;
  padding: 1rem;
  width: 50%;
}

.card-image img.activator {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 28rem;
}

.shs-image img.activator {
  padding: 3rem;
}

.no-result {
  line-height: 3;
  padding: 4rem;
}

/* media queries */

@media only screen and (min-width: 992px) {
  h1 {
    padding: 0;
  }  
}

@media only screen and (min-width: 768px) {
  h1 {
    padding: 0;
  } 
}

@media only screen and (max-width: 600px) {
  h1 {
    padding: 0;
  } 
}