{% extends "base.html" %}
{% block content %}

<!-- 404 error handling -->
<div class="container valign-wrapper">
   <div class="row">
      <div class="col valign">
         <div class="card">
            <div class="card-content">
               <div class="card-title logo center">
                  <h1>404 Page Not Found</h1>
               </div>
               <p class="hometext center-align">Let's get you back on track!</p>
            </div>
            <div class="card-action center">
               <!-- home button -->
               <a href="{{ url_for('get_recipes') }}" class="btn-large">Return to Home</a>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}