{% extends "base.html" %}
{% block content %}

<!-- 500 error handling -->
<div class="container valign-wrapper">
   <div class="row">
      <div class="col valign">
         <div class="card">
            <div class="card-content">
               <div class="card-title logo center">
                  <h2>500 Internal Server Error!</h2>
               </div>
               <p class="hometext center-align">Looks like something is not quite right!</p>
            </div>
            <div class="card-action center">
               <!-- home button -->
               <a href="{{ url_for('get_recipes') }}" class="waves-effect waves-light btn-large">Return to Home</a>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}