{% extends "base.html" %}
{% block content %}

    <div class="card-panel">
        <div class="row">
            <div class="col s12 m4 l4 left-align">
                <h5>How Reciprocate Works?</h5>
                <p class="intro-med">Reciprocate connects people around the globe who like to try new recipes and share their favourite recipe ideas. Reciprocate provides a platform making it simpler to discover tasty recipes shared by all other members of the community.</p>
            </div>
            <!-- registration form -->
            <div class="col s12 m8 l8">
                <img src="https://github.com/alandoherty95/reciprocate-app/blob/master/resources/reciprocate-logo.png?raw=true" class="logo-image" alt="Reciprocate Logo">
            </div>
        </div>
    </div>
    <!-- frequently asked questions -->
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to create an account?</h6></div>
            <div class="collapsible-body"><span>New users can easily create an account by providing a unique username and a password. Once registered, the user will be brought to their own profile page and will be able to share a new recipe by filling out a form. All recipes shared by the user will be displayed on their profile page.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to log in?</h6></div>
            <div class="collapsible-body"><span>Users can simply log in to their account by entering the correct username and password on the form. Once logged in, you will be brought to your own profile page and will be able to share a new recipe by filling out a form. All recipes shared by the user will be displayed on their profile page.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to log out?</h6></div>
            <div class="collapsible-body"><span>Users can simply log out of their account with one click. Once logged out, you will be brought to the homepage of the website. You can log back into your account by entering your username and password again.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to browse all recipes?</h6></div>
            <div class="collapsible-body"><span>Users can browse through the full collection of recipes shared by all members of the community. All recipes are displayed on the homepage in order of most recently added. Any recipes shared by you will be added to this collection.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to search for a particular recipe?</h6></div>
            <div class="collapsible-body"><span>Users can search for a particular recipe by using the search function in the navigation bar. You can search using one or more keywords in the search bar. All recipes relating to the keywords will be displayed.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to share a recipe?</h6></div>
            <div class="collapsible-body"><span>Registered users can share recipes by filling out the ‘Share Recipe’ form. You can enter the type of recipe, recipe name, ingredients and instructions. You can also input an image URL to display a picture of the recipe. All recipes shared will be displayed on the home page in order of most recently added.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to add an image to a recipe?</h6></div>
            <div class="collapsible-body"><span>Users can choose from a huge library of images on Pexel. The full image URL must be provided for the desired image to be displayed. You can search for an image by entering a keyword in the search bar. By right-clicking on your favourite image, you can select ‘copy image address’ and paste it into the ‘Valid Image URL’ field in the form. </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>How to edit or delete a recipe?</h6></div>
            <div class="collapsible-body"><span>Users can edit or delete existing recipes shared by them. The user can click ‘Edit’ on the recipe card to change any field in the recipe form before saving the updated record. Users can also delete their own recipes by clicking on the ‘Delete’ button. You will be asked to confirm your action before deleting the record permanently from our collection. .</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="far fa-plus-square"></i><h6>Where can I shop for utensils?</h6></div>
            <div class="collapsible-body"><span>You can go to the SHS website to browse through the range of smoothie makers and cocktail shakers on offer. Shannon Hotel Supplies can also be contacted by phone or by email. The family business originated from the dedicated service base in Limerick which traditionally covered the midwest region of the country. SHS offers a click-and-collect service of customers.</span></div>
        </li>
    </ul>

{% endblock %}