{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Add New Recipe</h2>
<p class="info">Add a new recipe by filling out the form below.</p>

<div class="row forms">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!-- recipe type selector -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-hand-pointer prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose recipe type</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Type of Recipe</label>
            </div>
        </div>
        <!-- recipe name input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix"></i>
                <input id="recipe_name" name="recipe_name" minlenght="4" maxlenght="28" type="text" class="validate"
                    required>
                <label for="recipe_name">Name of Recipe</label>
            </div>
        </div>
        <!-- recipe ingredients input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"></i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlenght="4" maxlenght="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_ingredients">Ingredients</label>
            </div>
        </div>
        <!-- recipe instructions input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-right prefix"></i>
                <textarea id="recipe_instructions" name="recipe_instructions" minlenght="4" maxlenght="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_instructions">Instructions</label>
            </div>
        </div>
        <!-- recipe image url input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-image prefix"></i>
                <textarea id="image_url" name="image_url" minlenght="4" maxlenght="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="image_url">Image URL</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large">
                    Add New Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}