{% extends "base.html" %}
{% block content %}
<div class="heading-info">
    <h2 class="center-align">Edit Recipe</h2>
    <p class="info">Edit recipe by updating the fields below</p>
</div>
<div class="row forms">
    <form class="col s12 m8 offset-m2 l6 offset-l3" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <!-- select recipe type -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose recipe type</option>
                    {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" disabled>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Type of Recipe</label>
            </div>
        </div>
        <!-- input recipe name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix"></i>
                <input id="recipe_name" name="recipe_name" minlenght="4" maxlenght="28" value="{{ recipe.recipe_name }}"
                    type="text" class="validate" required>
                <label for="recipe_name">Name of Recipe</label>
            </div>
        </div>
        <!-- input recipe ingredients -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"></i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlenght="4" maxlenght="200"
                    class="materialize-textarea validate" required>{{ recipe.recipe_ingredients }}</textarea>
                <label for="recipe_ingredients">Ingredients</label>
            </div>
        </div>
        <!-- input recipe instructions -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"></i>
                <textarea id="recipe_instructions" name="recipe_instructions" minlenght="4" maxlenght="200"
                    class="materialize-textarea validate black-text"
                    required>{{ recipe.recipe_instructions }}</textarea>
                <label for="recipe_instructions">Instructions</label>
            </div>
        </div>
        <!-- input recipe image url -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"></i>
                <textarea id="image_url" name="image_url" minlenght="4" maxlenght="200"
                    class="materialize-textarea validate" required>{{ recipe.image_url }}</textarea>
                <label for="image_url">Image URL</label>
            </div>
        </div>
        <!-- cancel and edit buttons -->
        <div class="row">
            <div class="col s12 center-align">
                <!-- cancel button -->
                <a href="{{ url_for('get_recipes') }}" class="btn-large btn-green">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <!-- submit button -->
                <button type="submit" class="btn-large btn-blue">
                    Update Recipe <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}