{% extends "base.html" %}
{% block content %}

<!-- log in -->
<h2 class="center-align">Log In</h2>
<p class="info">Enter your username and password to log in.</p>

<div class="row">
    <form class="col s12 m6 offset-m4" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- input username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="4" maxlength="18"
                        pattern="^[a-zA-Z0-9]{4,20}$" class="validate" required>
                    <label for="username">Username</label>
                    <span class="helper-text" data-error="Username must be 4-20 characters long, containing only letters and numbers."
                    data-success="Validated">
                        Username must be 4-20 characters long, containing only numbers and letters.
                    </span>
                </div>
            </div>
            <!-- input password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="4" maxlength="18"
                        pattern="^[a-zA-Z0-9]{4,20}$" class="validate" required>
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Password must be 4-20 characters long, containing only letters and numbers."
                    data-success="Validated">
                        Password must be 4-20 characters long, containing only numbers and letters.
                    </span>
                </div>
            </div>
            <!-- login button -->
            <div class="row">
                <button type="submit" class="col s8 offset-s2 btn-large">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- link to registration page -->
<div class="row">
    <div class="col s12">
        <p class="center-align info">
            Not registered yet? <a href="{{ url_for('register') }}" class="link">Register now</a>
        </p>
    </div>
</div>

{% endblock %}