{% extends "base.html" %}
{% block content %}
    <div class="card-panel cover-card">
        <div class="row">
            <div class="col s12 m4 l4 left-align">
                <h5>How Reciprocate Works?</h5>
                <p class="intro-med">Reciprocate connects people around the globe who like to try new recipes and share their favourite recipe ideas. Reciprocate provides a platform making it simpler to discover tasty recipes shared by all other members of the community.</p>
                <p class="intro-med">All recipes shared by you will be displayed here.<br>Start contributing today.</p>
            </div>
            <!-- reciprocate logo -->
            <div class="col s12 m8 l8">
                <img src="https://github.com/alandoherty95/reciprocate-app/blob/master/resources/cherries-logo.png?raw=true" class="logo-image" alt="Reciprocate Logo">
            </div>
        </div>
    </div>
    {% if recipes|length > 0 %}
    <div class="heading-info">
        <h4 class="center-align">Recipes shared by {{ username }}</h4>
        <p class="info">Hover over recipes to reveal more info, edit or delete</p>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4">
            <div class="card card-recipe">
                <div class="card-image">
                    <img class="activator" src="{{ recipe.image_url }}" alt="Recipe Image">
                </div>
                <div class="card-content center-align">
                    <div class="card-title activator">
                        <h4>{{ recipe.recipe_name }}</h4>
                        <h5 class="black-text">{{ recipe.category_name }}</h5>
                    </div>
                </div>
                <div class="card-reveal">
                    <div class="card-title">
                        <h4>{{ recipe.recipe_name }}</h4>
                        <h5 class="black-text">{{ recipe.category_name }}</h5>
                        <i class="far fa-times-circle right"></i>
                    </div>
                    <h6>What do I need?</h6>
                    <p>{{ recipe.recipe_ingredients }}</p>
                    <h6>What do I do?</h6>
                    <p>{{ recipe.recipe_instructions }}</p>
                    <h6>Shared by:</h6>
                    <p>{{ recipe.created_by }}</p>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-large btn-blue"><i class="far fa-edit"></i> Edit</a>
                    <a href="#modal-{{recipe._id}}" class="btn-large btn-red modal-trigger"><i class="far fa-trash-alt"></i> Delete</a>
                </div>
            </div>
            <!-- modal to confirm action before deleting a recipe -->
            <div id="modal-{{recipe._id}}" class="modal">
                <div class="modal-content">
                    <h4 class="text center-align">Delete this tasty recipe?</h4>
                    <p class="center-align">This recipe will be permanently deleted</p>
                </div>
                <!-- cancel and delete buttons -->
                <div class="modal-footer">
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small modal-trigger btn-green"><i class="fas fa-ban"></i> Cancel</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small modal-trigger btn-red"><i class="far fa-trash-alt"></i> Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- no search results found -->
    {% else %}   
        <!-- add new recipe -->
        <div class="heading-info">
            <h2 class="center-align">Add New Recipe</h2>
            <a class="btn-large share" href="{{ url_for('add_recipe') }}">Share Recipe</a>
        </div>
    {% endif %}

    <!-- local catering company -->
    <div class="card">
        <div class="shs-image">
            <h4>Shannon Hotel Supplies</h4>
            <img class="activator" src="https://www.shsonline.ie/wp-content/uploads/2019/06/SHS_Logox2.png" alt="SHS Logo">
        </div>
        <div class="card-content center-align">
            <div class="card-title activator">
                <p class="black-text">Click image to reveal more info</p>
            </div>
            <p><a href="https://www.shsonline.ie/" target="_blank" alt="SHS Logo" class="btn-large">Visit SHS Website</a>
            </p>
        </div>
        <div class="card-reveal">
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card-title">
                        <i class="far fa-times-circle left"></i>
                        <h4>Shannon Hotel Supplies</h4>
                    </div>
                    <p>The family business originated from our dedicated service base in Limerick which traditionally covered the mid-west region of the country. Browse through the range of smoothie makers and cocktail shakers!</p>
                </div>  
                <div class="col s12 m6 l6">
                    <h6>Phone:</h6>
                    <p>1850 20 04 05</p>
                    <h6>Email:</h6>
                    <p>info@shsonline.ie</p>
                    <h6>Address:</h6>
                    <ul>
                        <li>Shannon Hotel Supplies,</li>
                        <li>Unit 6D,</li>
                        <li>Docklands Business Park,</li>
                        <li>Dock Rd,</li>
                        <li>Limerick.</li>
                    </ul>
                    <a href="https://www.shsonline.ie/" target="_blank" class="btn-small">Visit SHS Website</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}