{% extends "base.html" %}
{% block content %}
    <!-- home -->
    <div class="card-panel cover-card">
        <div class="row">
            <div class="col s12 m12 l7">
                {% if session.user %}
                    <ul>
                        <li>View recipes shared by other members.</li>
                        <li>Share your favourite recipe ideas.</li>
                    </ul>
                    <!-- add new recipe button -->
                    <a class="waves-effect waves-light btn-large" href="{{ url_for('add_recipe') }}">Add New Recipe</a>                   
                {% else %}
                    <p class="intro">Browse & share your favourite recipe ideas with other people in our community. Create your own profile now to enjoy the full experience.</p>
                    <!-- log in and register buttons -->
                    <a class="waves-effect waves-light btn-large btn-reg" href="{{ url_for('register') }}">Register <i class="fas fa-user-plus"></i></a>
                    <a class="waves-effect waves-light btn-large btn-log" href="{{ url_for('login') }}">Log In <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- all recipes displayed -->
    <div class="heading-info center-align col l4 offset-l2">
        <h4>{{ page_heading }}</h4>
        <p class="info">Hover over recipes to reveal more info</p>
        <!-- search bar -->
        <form class="search-bar" action="{{ url_for('search') }}" method="post">
            <div class="input-field center-align">
                <input type="text" name="query" id="query" minlenght="3" class="validate" required>
                <label for="query">Search Recipes..</label><button type="submit" class="waves-effect waves-light btn-small inline"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    {% if recipes|length > 0 %}
        <div class="row">
            {% for recipe in recipes %}
                <div class="col s12 m6 l4">
                    <div class="card card-recipe">
                        <div class="card-image">
                            <img class="activator center" src="{{ recipe.image_url }}" alt="Recipe Image">
                        </div>
                    <div class="card-content center-align">
                        <div class="card-title">
                            <h4>{{ recipe.recipe_name }}</h4>
                            <h5 class="black-text">{{ recipe.category_name }}</h5>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <div class="card-title">
                            <i class="far fa-times-circle right"></i>
                            <h4>{{ recipe.recipe_name }}</h4>
                            <h5 class="black-text">{{ recipe.category_name }}</h5>
                            <br>
                        </div>
                        <h6>What do I need?</h6>
                        <p>{{ recipe.recipe_ingredients }}</p>
                        <br>
                        <h6>What do I do?</h6>
                        <p>{{ recipe.recipe_instructions }}</p>
                        <br>
                        <h6>Shared by:</h6>
                        <p>{{ recipe.created_by }}</p>
                        {% if session.user|lower == recipe.created_by|lower %}
                        <a href="#modal-{{recipe._id}}" class="waves-effect waves-light btn-large modal-trigger"><i
                        class="far fa-trash-alt"></i> Delete</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                        class="waves-effect waves-light btn-large"><i class="far fa-trash-alt"></i> Edit</a>
                        {% endif %}
                    </div>
                </div>
                <!-- modal to confirm action before deleting a recipe -->
                <div id="modal-{{recipe._id}}" class="modal">
                    <div class="modal-content">
                        <h4 class="text center-align">Delete this tasty recipe?</h4>
                        <p class="center-align">This recipe will be permanently deleted</p>
                    </div>
                    <!-- cancel and delete buttons -->
                    <div class="modal-footer">
                        <a href="{{ url_for('profile', username=session['user']) }}"
                        class="waves-effect waves-light btn-small modal-trigger"><i class="fas fa-ban"></i>
                        Cancel</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                        class="waves-effect waves-light btn-small modal-trigger"><i class="far fa-trash-alt"></i>
                        Delete</a>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <!-- pagination -->
    {{ pagination.links }}
    <!-- no search results found -->
    {% else %}
        <h6 class="center-align no-result">No Results Found. Please clear or try a different word.</h6>
    {% endif %}
    
{% endblock %}