{% extends "base.html" %}
{% block content %}

    <!--greeting card-->
    <div class="container valign-wrapper">
        <div class="row">
            <div class="col valign">
                <div class="card greeting-card">
                    <div class="card-content">
                        <div class="card-title center">
                            <h1>Recip<span>rocate</span></h1>
                            <p>Browse, discover and share your favourite recipes with our community!</p>
                        </div>
                    </div>
        
                    <div class="card-action center">
                        <a class="btn-large" href="{{ url_for('login') }}">Log In</a>
                        <a class="btn-large" href="{{ url_for('register') }}">Register</a>
                    </div>
        
                </div>
            </div>
        </div>
    </div>

    <h2 class="center-align">Our Favourite Recipes</h2>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">
                <div class="col">
                    <img class="activator" src="{{ recipe.image_url }}" alt="recipe">
                </div>
                <div class="col">
                    <h4>{{ recipe.recipe_name }}</h4>
                    <h5>{{ recipe.category_name }}</h5>
                    <p>Click to reveal more details!</p>
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small">Delete</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <h6>What do I need?</h6><br><p>{{ recipe.recipe_ingredients }}</p>
                <h6>What do I do?</h6><br><p>{{ recipe.recipe_instructions }}</p>
                <h6>Created by:</h6><p>{{ recipe.created_by }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
