{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_ingredients }}<br>
        {{ recipe.recipe_instructions }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fas fa-carret-down"></i>Recipe 1</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-carret-down"></i>Recipe 2</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-carret-down"></i>Recipe 3</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}
